/* 设置html，body，#app的高度布满整个页面 
el-container高度等于父元素#app的高度，#app的高度的父节点是body，
body的父节点是html,默认情况下html和body的高度为auto,浏览器不会自动给标签添加高度，因此自然就无效了*/
html,body,#app{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }
